.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 20px blaCK;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.img-fluid {
    max-width: 100%;
    height: 615px;
}
h1{
  color: black;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}
.para{
  color: black;
}
.btn1{
    border: none:
    outline: none;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    display: inline-block;
  	border-radius: 20px;
  	text-align: center;
  	margin-right: 2rem;
  	margin-top: 50px;
  	transition: opacity 0.2s ease-in;
  	font-family: 'Ubuntu', sans-serif;
  	font-weight: bolder;
}
.btn1:hover{
    background-color: white;
    color: black;
}
.btn{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 20px;
  height: 40px;
  width: 100%;
}
.fa,.fa1{
  margin: 0 10px 0;
}
.new{
  margin-right: 381px;
}
.flex{
  display: inline-block;
}
.forgot{
  display:inline-block;
  float:right;
  padding: 0 60px 0;
}
.google{
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
